/* Puts the background image to be a Call of Duty logo (decided I don't want this right now)
.root {
    -fx-font-size: 12 px;
    -fx-background-image: url("/images/callOfDutyLogo.png");
    -fx-background-image-pos: top;
    -fx-background-size: 625px;
} */
.root {
    -fx-font-size: 12 px;
    -fx-background-color: D3D8DC;
}

.button {
    -fx-background-color: orange;
    -fx-font-weight: bold;
}

#header
{
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

.list-view {
    -fx-opacity: 0.9;
}

#gameInfo {
    -fx-font-size: 30px;
}

#informationLabel
{
    -fx-border-width: 1px;
    -fx-border-style: square;
    -fx-border-color: black;
    -fx-background-color: #f1f0f0;
}